@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset some default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: xx-large;
    margin-bottom: 5px;
}
header p {
    color: #555;
    margin-bottom: 20px;
}
header img {
    margin-bottom: 10px;
}

#logo {
    margin-right: 20px;
    display: block;
    margin: 0 auto 10px;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
}
footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    position:fixed;
    bottom: 0;
    width: 100%;
}

article {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article .post-image {
    max-height:80vh;
    max-width: 80%;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
    display: block;

}

article h3 {
    font-size: large;
    margin-bottom: 10px;
}
article .caption {
    margin-bottom: 10px;
}
article .transcription {
    font-style: italic;
    color: #666;
    margin-top: 5px;
}

article .date {
    font-size: small;
    color: #888;
}
article .author {
    font-size: large;
    color: #555;
}
article .author img {
    height: 1em;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 5px;
}
article .author a {
    color: #007bff;
    text-decoration: none;
}
article .author a:hover {
    text-decoration: underline;
}
article .tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
article .tags li {
    display: inline-block;
    margin-right: 10px;
}
article .tags li a {
    color: #007bff;
    text-decoration: none;
}
article .tags li a:hover {
    text-decoration: underline;
}
article .blur-bg {
    width:100%;
    background-size: cover;
    background-position: center;
    background-color: #888;
    background-blend-mode: soft-light;
}
article .read-more {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}
article .read-more:hover {
    text-decoration: underline;
}

.load-more {
    display: block;
    width: 200px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5em;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.load-more:hover {
    background-color: #0056b3;
}

@media (orientation: landscape) {
    header {
        float: left;
        width: 25%;
        height: 100vh;
        padding: 20px;
        position: fixed;
    }
    .posts {
        margin-left: 25%;
        padding: 20px;
    }
}
